.header{
    background-color: rgb(21, 155, 148);
    margin-bottom: 1cm;
}
.nav{
    padding: 1cm;
    font-size: larger;
    color: white;
    
    display: flex;
    justify-content: flex-end;
}
.flex_container{
    display: flex;
    justify-content: center;
    
}
.link_b{
    height: 7cm;
    width: 110cm;
    margin-left: 4cm;
    margin-bottom: -2cm;
    
}
.link{
    color: white;
    text-decoration: none !important;
    margin-right: 1cm;
}
.flex{
    margin-left:1cm;
    margin-bottom: -2cm;
    margin-top:-1cm;
    margin-right:1cm;
}
.car{
    width: fit-content;
    margin-left: 3cm;
}
.item{
    width:80cm
}
.maindiv{
    /* background-image: url('../pages/img/bg.jpeg');
    background-repeat: no-repeat;
    background-size: cover; */
}