.flex{
    display: flex;
    border-style: solid;
    border-color: gray;
    border-width: 0.01cm;
    width: 25cm;
   margin-bottom: 00.02cm;
    margin-left: 4cm;
}
.info{ 
    margin-top: 20;
     width: 40;
     }
.pcount{

    margin-top: auto;
}