.product{
    /* border-style: solid; */
   display: flex;
   justify-content: center;
   margin: 1cm;
   border-style: solid;
   border-color: gray;
   border-width: 00.01cm;
   border-radius: 1cm;
   margin: -1cm;
   width: 30cm;
   height: fit-content;
}

.idiv{
    margin-right: 1cm;
    margin-top: 0cm;
}
.info{
    margin-top: 2.1cm;
}